<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.wdespesas.wdespesas">

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="br.com.wdespesas.wdespesas.dashboard"
            android:screenOrientation="fullSensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.com.wdespesas.wdespesas.sobre"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.categoria_lista"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.categoria_add"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.categoria_alterar"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.despesa_add"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.despesa_alterar"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name="br.com.wdespesas.wdespesas.despesa_lista"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name=".despesa_detalhes"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name=".activity_util_sqlite"
            android:screenOrientation="fullSensor"></activity>

    </application>

</manifest>
